<h2 class="title"><%= @author.name %></h2>
<hr class="login-hr">
<% if @books.length > 0 %>
    <p class="subtitle">Books</p>
    <ul>
    <% @books.each do |book| %>
        <li><a href="/books/<%= book.slug %>"><%= book.title %></a> (<%= book.year_published %>)</li>
    <% end %>
    </ul>
<% else %>
    <p>No books listed</p>
<% end %>
<hr class="login-hr">
<% if @owns_author %>
    <form action="/books/new" method="get">
        <button class="button">Add a New Book</button>
    </form>
    <form action="/authors/<%= @author.slug %>/edit" method="GET">
        <button class="button">Edit Account</button>
    </form>
    <form action="/authors/<%= @author.slug %>" method="POST">
        <input type="hidden" id="hidden" name="_method" value="DELETE">
        <button class="button">Delete Account</button>
    </form>
<% end %>