<h2><%= @author.name %></h2>
<% if @books.length > 0 %>
    <ul>
    <% @books.each do |book| %>
        <li><a href="/books/<%= book.slug %>"><%= book.title %></a> (<%= book.year_published %>)</li>
    <% end %>
    </ul>
<% else %>
    <p>No books listed</p>
<% end %>
<% if @owns_author %>
    <form action="/books/new" method="get">
        <input type="submit" id="new_book" value="Add a New Book">
    </form>
    <form action="/authors/<%= @author.slug %>/edit" method="GET">
        <input type="submit" id="edit" value="Edit Account">
    </form>
    <form action="/authors/<%= @author.slug %>" method="POST">
        <input type="hidden" id="hidden" name="_method" value="DELETE">
        <input type="submit" id="edit" value="Delete Account">
    </form>
<% end %>