<h2><%= @book.name %></h2>
<% if @author %>
<p>By <a href="/authors/<%= @author.slug %>"><%= @author.name %></a></p>
<% else %>
<p>Author unknown</p>
<% end %>
<p>Published in <%= @book.year_published %></p>
<p>Advance: $<%= @book.advance %></p>
<% if @owns_book %>
    <form action="/books/<%= @book.slug %>/edit" method="GET">
        <input type="submit" id="edit" value="Edit Book">
    </form>
    <form action="/books/<%= @book.slug %>" method="POST">
        <input type="hidden" id="hidden" name="_method" value="DELETE">
        <input type="submit" id="edit" value="Delete Book">
    </form>
<% end %>